{% extends 'App/admin.html' %}
{% load static %}

{% block admin %}
    <a href="{% url 'rubros' %}"><button class="btn btn-outline-primary">Volver</button></a><br><br>
    <p>
        <form action="{% url 'modificar_rubro' Rubro.id %}" method="POST">
            {% csrf_token %}
            <label>Rubro:</label>
            <input type="hidden" value="{{ Rubro.id }}" name="id">
            <input type="text" value="{{ Rubro.descripcion }}" name="new">
            <button class="btn btn-outline-info">Modificar</button>
            <p>
                <label><h3>{{ Estado }}</h3></label>
            </p>
            
        </form>
    </p>

{% endblock %}